<!--所有要加载的视图都通过ion-view标签来加载-->
<ion-view view-title='逛吃'>
	
<ion-content>
	
	<div class="bar bar-header">
	  <div class="tabs tabs-icon-top">

		  <a class="tab-item toptabs" href='#/tab/about/header' style="background-color: #fff;line-height: 0.85rem;">首页 </a>
		  	
		  <a class="tab-item"  href='#/tab/about/test' style="background-color: #fff;line-height: 0.85rem;">评测</a>
		  
		  <a class="tab-item"  href='#/tab/about/know' style="background-color: #fff;line-height: 0.85rem;">知识</a>
		  
		   <a class="tab-item"  href='#/tab/about/foods' style="background-color: #fff;line-height: 0.85rem;">美食</a>
		   
	  </div>
	</div>

	 	
  		
	<ion-nav-view name="ddd" class='views' style="margin-top: 1rem;"></ion-nav-view>

</ion-content>
	
</ion-view>