	<ion-view title="图文详情">
		
		
		<ion-content>
			
			 
			<div class="list card">

				  <div class="item item-avatar">
				    <img src="{{str.tou}}">
				    <h2>{{str.name}}</h2>
				    <p>浏览人数：{{str.num}}</p>
				  </div>
				
				  <div class="item item-body">
				    <img class="full-image" src="{{str.img}}" style="height: 4rem;">
				    <p>{{str.essay}}</p>
				    <p>
				      <a href="#" class="subdued">{{str.tit}}</a>
				      <a href="#" class="subdued">5 Comments</a>
				    </p>
				  </div>
				
			</div>


<a href="#/tab/about/header"><button class="button button-calm">返回上一页</button></a> 
		</ion-content>
		
		
	</ion-view>