/* Empty. Add your own CSS if you like */
.content{
	padding: 10px;
	background-color: #f6f6f6;
}
.home{
	text-align: center;
	font-size: 0.24rem;
}
.content .sort{
	height: 1rem;
	background-color: #fff;
	line-height: 1rem;
}
.content .sort ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	white-space:nowrap;
	color: #797573;
	}
.content .sort li{
	text-align: center;
	width: 30%;
	border-right:1px solid #c8c7cc ;
	display: inline-block;
	line-height: 0.32rem;
	margin-top: 0.12rem;
}
.content .sort li:last-of-type{
	border-right: 0;
}
.content .sort li p{
	
}
.content .sort icon{
	font-size: 0.32rem;
}
.content .sort .ion-android-list{
	color: #e4ba2c;
	
}
.content .sort .ion-ios-book{
	color: #df8818;
}
.content .sort .ion-ios-analytics{
	color: #bab886;
}
.content .sort1{
	background-color: #fff;
	margin-top: 0.32rem;
}
.content .sort1 .tit1{
	height: 0.66rem;
	line-height: 0.66rem;
	font-size: 0.26rem;
	color: #999999;
	text-align: center;
	border-bottom: 1p dotted #999;
}
.con1{
	min-height: 5rem;
	flex-wrap: wrap;
	white-space:wrap;
}
.con1 li{
	display: inline-block;
	width: 30%;
	text-align: center;
	font-size: 0.12rem;
}
.con1 li i{
	width: 0.45rem;
	height: 0.45rem;
	display: inline-block;
	border-radius: 50%;
	border:1px solid #ccc;
	text-align: center;
	line-height: 0.45rem;
	margin-bottom: 0.1rem;
	margin-top: 0.2rem;
	color: #DF8818;
}
.views{
	width: 100%;
	padding: 0.1rem;
	min-height: 10rem;
	background-color: #f6f6f6;
}
.first{
	display: flex;
	justify-content: space-between;
	padding: 0.01rem;
	flex-wrap: wrap;
	
}
.first .img1{
	height: 3.52rem;
	width: 50%;
}
.first .dl{
	width: 49%;
	height: 5.2rem;
	overflow: hidden;
	margin: 0.01rem;
	margin-bottom: 0.2rem;
}
.first dt{
	text-align: center;
}
.first dt img{
	height: 3.44rem;
}
.first dd{
	margin-left: 0.02rem;
	margin-right: 0.02rem;
}
.first .tit{
	line-height: 0.62rem;
	font-size: 0.24rem;
	color: #333;
	text-indent: 0.1rem;
	border-bottom: 1px solid;
}
.first .border{
	line-height: 0.92rem;
	display: flex;
	justify-content: space-between;
}
.first .border img{
	width: 0.57rem;
	height: 0.57rem;
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
	margin-right: 0.07rem;
}
.imgs{
		position: relative;
		height: 4rem;
		overflow: hidden;
		width: 100%;
}
.imgs img{
	width: 100%;
	height: 100%;
}
.imgs img,.imgs p,.imgs h3{
	position: absolute;
}
.imgs p,.imgs h3{
	width: 100%;
	text-align: center;
	top:0.5rem
}
.imgs h3{
	top:1.5rem
}
.imgs .infor{
	
	top:3rem
}
.login{
	height: 3rem;
	text-align: center;
	background-color: #DF8818;
}
.login dt{
	height:2.2rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.2rem;
}
.login dt img{
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
}
.login dd{
	font-size: 0.24rem;
	color: #333;
}
